.box1 {
  width: 300px;
  height: 300px;
  background-color: #40E0D0;
  margin: 30px;
  padding: 30px;
  padding-bottom: 300px;
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: #7FFFD4;
  border: 5px solid #FFD700;
}